/* General Styles */
body {
    font-family: 'Roboto', sans-serif; /* Using Google Fonts */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    padding: 10px;
}

.nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.nav h2 {
    color: #333;
    margin: 0;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}

.hero button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
}

/* About Us Styles */
.about {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.about h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
}

/* Menu Styles */
.menu {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.menu h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu-category {
    margin-bottom: 40px;
}

.menu-category h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
    display: inline-block;
    padding-bottom: 5px;
}

.menu-category ul {
    list-style: none;
    padding: 0;
}

.menu-category li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-category img {
    margin-right: 10px;
    border-radius: 5px;
}

.menu-category span {
    font-size: 1.2em;
    color: #333;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffcc00;
    color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
}
